.catalog-wrapper {
  min-height: 100vh;
  padding: 16px 0;
  color: white;
}
.mobile-container {
  max-width: 480px;
  margin: 0 auto;
  width: 100%;
    background-color: #0d1a40;
}
.category-tabs .nav-link {
  background: transparent;
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
}

.category-tabs .nav-link.active {
  background-color: #1e88e5;
  border-radius: 10px;
}


.section-title {
  font-weight: bold;
  font-size: 16px;
  border-left: 4px solid #1e88e5;
  padding-left: 10px;
  margin-bottom: 8px;
}

.game-tile {
  border: none;
  padding: 0;
  background: transparent;
  box-shadow: none;
}
.game-img {
  height: 250px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.top-header {
  height: 40px;
}

.back-arrow {
  color: white;
  cursor: pointer;
}

.all-btn {
  cursor: pointer;
  font-size: 14px;
}
